<div
  class="fixed flex justify-center items-center w-full h-[100dvh] top-0 backdrop-blur"
>
  <form
    [formGroup]="transactionDetails"
    (ngSubmit)="handleSave()"
    class="relative pb-10 p-3 flex flex-col gap-4 border border-gray-200 shadow-md rounded min-w-[500px] max-w-6xl items-center bg-white"
  >
    <button
      class="absolute p-4 right-0 w-fit top-0 text-2xl cursor-pointer"
      (click)="handleClose()"
      type="button"
    >
      X
    </button>
    <h1 class="text-4xl m-4">
      {{ !transactionToEdit() ? "Add Transaction" : "Edit Transaction" }}
    </h1>

    <div class="max-w-[300px] w-full">
      <label class="grid">Amount</label>
      <input
        class="w-full appearance-none outline-none rounded px-2 py-1.5 bg-white border border-gray-300 focus:border-blue-500"
        type="number"
        formControlName="amount"
      />
      <div
        *ngIf="
          transactionDetails.controls.amount.errors &&
          (transactionDetails.controls.amount.dirty ||
            transactionDetails.controls.amount.touched)
        "
      >
        <span class="text-red-500"
          >Amount is required and should be between 1 to 100000</span
        >
      </div>
    </div>
    <div class="max-w-[300px] w-full">
      <label class="grid">Type</label>
      <select
        class="w-full outline-none rounded px-2 py-1.5 bg-white border border-gray-300 focus:border-blue-500"
        formControlName="type"
      >
        <option>Expense</option>
        <option>Income</option>
      </select>
      <div
        *ngIf="
          transactionDetails.controls.type.errors &&
          (transactionDetails.controls.type.dirty ||
            transactionDetails.controls.type.touched)
        "
      >
        <span class="text-red-500">Type is required</span>
      </div>
    </div>
    <div class="max-w-[300px] w-full">
      <label class="grid">Category</label>
      <select
        class="w-full outline-none rounded px-2 py-1.5 bg-white border border-gray-300 focus:border-blue-500"
        formControlName="category"
      >
        <option>Salary</option>
        <option>Rent</option>
        <option>Budget</option>
        <option>Restaurent</option>
        <option>UtilityBill</option>
        <option>Travel</option>
        <option>Fuel</option>
        <option>Others</option>
      </select>
      <div
        *ngIf="
          transactionDetails.controls.category.errors &&
          (transactionDetails.controls.category.dirty ||
            transactionDetails.controls.category.touched)
        "
      >
        <span class="text-red-500">Category is required</span>
      </div>
    </div>
    <div class="max-w-[300px] w-full">
      <label class="grid">Description</label>
      <input
        class="w-full appearance-none outline-none rounded px-2 py-1.5 bg-white border border-gray-300 focus:border-blue-500"
        type="text"
        formControlName="description"
      />
      <div
        *ngIf="
          transactionDetails.controls.description.errors &&
          (transactionDetails.controls.description.dirty ||
            transactionDetails.controls.description.touched)
        "
      >
        <span class="text-red-500">Description is required</span>
      </div>
    </div>
    <div class="max-w-[300px] w-full">
      <label class="grid">Date</label>
      <input
        class="w-full appearance-none outline-none rounded px-2 py-1.5 bg-white border border-gray-300 focus:border-blue-500"
        type="date"
        formControlName="date"
        [max]="currDate"
      />
      <div
        *ngIf="
          transactionDetails.controls.date.errors &&
          (transactionDetails.controls.date.dirty ||
            transactionDetails.controls.date.touched)
        "
      >
        <span class="text-red-500"
          >Date is required and should be from future!!</span
        >
      </div>
    </div>
    <button
      class="bg-blue-500 rounded text-white px-4 py-1.5 min-w-[300px] cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
      [disabled]="!transactionDetails.valid"
      type="submit"
    >
      Save
    </button>
    <span class="text-red-500" *ngIf="submissionError != ''">{{
      submissionError
    }}</span>
  </form>
</div>
